@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* MIXING */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/*
@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}*/
/* -------- BASE -------- */
html, body {
  margin: 0px; }

.page {
  background-color: orange;
  height: 100vh;
  position: relative; }

/* -------- BASE -------- */
/* -------- FONTS -------- */
h1 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

/* -------- FONTS -------- */
/* -------- HEADER -------- */
.main-header {
  /* position: absolute;
   top:0px;
   left:0px;
   right:0px;*/
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: #9d9d9d;
  z-index: 10000; }

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1c67bd; }

/* -------- HEADER -------- */
